.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

#wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2fr 1fr 4fr 3fr;
    width: auto;
    height: 600px;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 0;
    margin: 0;
    grid-column: 2;
    grid-row: 1;
}

.title {
    padding-bottom: 50px;
    padding-left: 15px;
}

nav {
    background-color: black;
    margin: 0;
    display: flex;
}

ul {
    list-style-type: none;
    justify-content: space-between;
}

li {
    display: inline-block;

}

li a {
    text-decoration: none;
    color: white;
    display: block;
    padding-left: 150px;

}

main {
    grid-column: 2;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main {
    background-color: lightgrey;
    padding-left: 15px;
}

.aside {
    padding-left: 15px;
}

footer {
    background-color: rgb(49, 49, 49);
    color: white;
    text-align: center;
    grid-column: 2;
    grid-row: 4 / 5;
}

h1 {
    font-size: large;
}